.modalHeader {
  margin: 20px 0 5px 0;
}

.input {
  width: 280px;
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  font-family: 'Inter', sans-serif;
  line-height: 120%;
  font-size: 25px;
}

.input:focus {
  outline: none;
}

.cityList {
  min-height: 240px;
}

.city {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.5s;
}

.city:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}
