.modalHeader {
  margin: 20px 0 5px 0;
}

.input {
  width: 280px;
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  font-family: 'Inter', sans-serif;
  line-height: 120%;
  font-size: 25px;

  &:focus {
    outline: none;
  }
}

.loading {
  margin-top: 80px;
}

.cityList {
  min-height: 240px;
}
