.typography {
  font-family: 'Inter', sans-serif;
  line-height: 120%;
}

.h1 {
  font-size: 164px;
  font-weight: 100;
}

.h2 {
  font-size: 36px;
  font-weight: 300;
}

.h3 {
  font-size: 32px;
  font-weight: 400;
}

.h4 {
  font-size: 24px;
  font-weight: 300;
}

.h5 {
  font-size: 20px;
  font-weight: 300;
}

.primaryColor {
  color: white;
}

.darkColor {
  color: black;
}

.withShadow {
  filter: drop-shadow(-2.5px 1.3px 0.75px rgba(0, 0, 0, 0.15));
}

.withoutShadow {
  filter: none;
}