.layout {
  display: flex;
  flex-direction: row nowrap;
  width: 100%;
  max-height: 100vh;
  background: linear-gradient(to top right, #ff9696 0%, #8c6bae);
}

.inner{
  overflow: auto;
  flex: 1;
}
