.sideMenu {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: flex-start;
  padding: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.288);
}

.iconsLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cities {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  overflow: auto;
}

.city {
  border-bottom: 1px solid rgba(255, 255, 255, 0.288);
  width: 100%;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 20px 0;
}
